<h1>Help</h1>
<p>
	Get help on the RoR Tutorial at the 
	<a href="http://railstutorial.org/help">Tutorial help page</a>.
	To get help on the sample_app, please see the
	<a href="http://railstutorial.org/book">Tutorial book</a>.
</p>